[Unit]
Description=Cam server
After=network.target

[Service]
ExecStart=/bin/bash /opt/camera_stream/run.sh
WorkingDirectory=/opt/camera_stream
StandardOutput=journal
StandardError=journal
#Restart=always
Restart=on-failure
User=root
KillMode=process

[Install]
WantedBy=multi-user.target


